@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'burtons';
  src: url('../public/Burtons.otf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../public/Montserrat.ttf');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../public/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../public/Montserrat-Bold.ttf');
}

.font-montserratSemi {
  font-family: 'Montserrat-SemiBold';
}

.custom-filter {
  backdrop-filter: blur(4px);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}